<nav class="topbar">

    <div class="service">
        <img src="service.png" style="width: 30px; height: 30px; border-radius: 10px;">
        <div class="dropdown">
            <select>
                <option>Service</option>
                <option>Service</option>
                <option>Service</option>               
            </select>
        </div> 
    </div>
    <div class="gmb">
        <img src="gmb.jpg" style="width: 30px; height: 30px; border-radius: 10px;">
        <p>GCP Tech TSR</p>
    </div>
    <div class="points">
        <p><b>1306</b> Points</p>   
    </div>
    <div class="coins">
        <img src="coin.jpg" style="width: 30px; height: 30px; border-radius: 10px;">
        <p><b>195</b> Coins</p>
    </div>

</nav>