<div class="sidebar">
    <div class="sidebar-header">
      <div class="logo-box"></div>
      <span class="app-name">Escalation Cockpit</span>
    </div>

    <nav class="nav flex-column">
      <a class="nav-link active" routerLink="/dashboard">Dashboard</a>
      <a class="nav-link" routerLink="/vem-view">VEM View</a>
      <a class="nav-link" routerLink="/site-view">Site View</a>
      <a class="nav-link" routerLink="/vmo-view">VMO View</a>
      <a class="nav-link settings" routerLink="/settings">Settings</a>
    </nav>
</div>